# Visit https://github.com/lowlighter/metrics/blob/master/action.yml for full reference
name: Metrics
on:
  # Schedule updates
  schedule: [{cron: "0 12 15 * *"}]
  # Lines below let you run workflow manually and on each commit
  workflow_dispatch:
  push: {branches: ["master", "main"]}
jobs:
  metrics:
    runs-on: ubuntu-latest
    steps:
      - uses: lowlighter/metrics@latest
        with:
          # GitHub token
          token: ${{ secrets.METRICS_TOKEN }}

          # Options
          user: stephn22
          template: classic
          base: header, activity, community, repositories, metadata
          # Languages
          plugin_languages: yes
          plugin_languages_ignored: PLpgSQL, Gherkin, PureBasic
          plugin_languages_colors: github
          plugin_languages_limit: 0
          # Recent Languages
          plugin_languages_recent_days: 30
          plugin_languages_recent_load: 300
          plugin_languages_sections: most-used, recently-used
          plugin_languages_details: bytes-size, percentage 
          plugin_languages_threshold: 0%
